*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(./pexels-photo-3593922.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    mix-blend-mode: exclusion;
}

nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: grey;
}


.detel a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border-radius: 30px;
}

.images{
    width: 35%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 100px;
   
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%); 
    transition: bottom 1s,left 1s;
    border-radius: 40px;

}

.images:hover .shape{
    bottom: 100px;
    height: 350px;
    width: 300px;
}

.images:hover .out{
    left: 25%;
    height: 225px;
    width: 225px;
}
